@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
@section Styles
{
    <link href="~/Resources/css/album/vertical.css" rel="stylesheet" />
}

<div id="container" class="cont-wrap example-container">
    <div id="content-wrap">
        <div id="content" class="examples-page-content">
            <div class="mygallery2">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Resources/js/album/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Resources/js/album/jquery.timers-1.1.2.js"></script>
    <script src="~/Resources/js/album/jquery.galleryview-1.0.js"></script>
    <script src="~/Resources/js/album/album.js"></script>
}