<?xml version="1.0" encoding="utf-8" ?>
<ThumbnailBuilderConfiguration>
    <SourceFolderPath>D:\M3-images-source</SourceFolderPath>
    <TargetFolderPath>M3.Website\Resources\images\photos</TargetFolderPath>
    <ThumbnailMaxWidth>300</ThumbnailMaxWidth>
    <ThumbnailMaxHeight>300</ThumbnailMaxHeight>
    <PhotoMaxWidth>1000</PhotoMaxWidth>
    <PhotoMaxHeight>800</PhotoMaxHeight>
</ThumbnailBuilderConfiguration>
