<?xml version="1.0" encoding="utf-8" ?>
<ThumbnailBuilderConfiguration>
    <SourceFolderPath>D:\M3-images-source</SourceFolderPath>
    <TargetFolderPath>D:\Projects\Others\M3\M3.Website\Resources\images\photos</TargetFolderPath>
    <ThumbnailMaxWidth>240</ThumbnailMaxWidth>
    <ThumbnailMaxHeight>200</ThumbnailMaxHeight>
    <PhotoMaxWidth>1000</PhotoMaxWidth>
    <PhotoMaxHeight>800</PhotoMaxHeight>
</ThumbnailBuilderConfiguration>
